body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divClass {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: rgb(37, 100, 194);
}

img {
  width: 400px;
}

#thirdDiv {
  height: 600px;
  width: 500px;
  background-color: rgb(229, 240, 148);
  padding: 50px;
  border: 5px solid;
  border-color: rgb(72, 73, 57);
}

#spanId {
  font-size: 18px;
  margin: 50px;
  text-align: justify;
}

body {
  background-image: url(./fondohtml.jpg);
}
